<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Kute.js CDN -->
<script src="https://cdn.jsdelivr.net/npm/kute.js@2.2.2/dist/kute.min.js" integrity="sha256-B/f4sxh5Z2Cm4ampEByxvbOCINmpxPkM43pR1PIwagk=" crossorigin="anonymous"></script>

<!-- Kute.js Animation Script -->
<script type="text/javascript" src="/scripts/animation.js"></script>

<!-- Game Input Script -->
<script type="text/javascript" src="/scripts/input.js"></script>

</body>
</html>
