<!-- Kute.js CDN -->
<script src="https://cdn.jsdelivr.net/npm/kute.js@2.2.2/dist/kute.min.js" integrity="sha256-B/f4sxh5Z2Cm4ampEByxvbOCINmpxPkM43pR1PIwagk=" crossorigin="anonymous"></script>

<!-- Kute.js Animation Script -->
<script type="text/javascript" src="/scripts/animation.js"></script>


</body>
</html>
