<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Symon Sez - The Game!</title>

    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- include("partials/symongamebody") -%>

  </body>
</html>
