<%- include("partials/header") -%>

<div class="game-wrapper">
    <%- include("partials/symongamebody") -%>

</div>

<div class="wavy-background-div">
  <%- include("partials/wavybg") -%>
</div>

<%- include("partials/footer") -%>
